@import "../helpers/variables";

#app-mount {
  // Remove default selected channel styling, setup new channel indicator
  .wrapper-NhbLHG {
    border-radius: 0;

    .content-1gYQeQ {
      background-color: transparent;
    }

    &::before {
      content: "";
      border-left: #{$border-set} transparent;
    }

    // Hover Indicators
    &:hover {
      background: transparent;
      .overflow-1wOqNV, div > svg {
        color: #{$dracula-pink};
      }
    }
  }

  .containerDefault-YUSmu3 {
    .wrapper-NhbLHG {
      &::before {
        position: absolute;
        top: 0;
        left: 0;
        bottom: 0;
      }
    }
  }

  // Selected Indicators
  .modeSelected-3DmyhH {
    .overflow-1wOqNV, div > svg {
      color: #{$dracula-cyan};
    }

    &::before {
      border-left-color: #{$dracula-cyan};
    }
  }

  // Unread Indicators
  .modeUnread-3Cxepe {
    .unread-36eUEm {
      display: none;
    }

    .overflow-1wOqNV, div > svg {
      color: #{$dracula-foreground};
    }

    &::before {
      border-left-color: #{$dracula-foreground};
    }
  }

  // Voice Connected Indicators
  .modeConnected-NrO4cP {
    background-color: fade-out($dracula-green, 0.7);

    div > svg {
      color: #{$dracula-green};
    }

    .overflow-1wOqNV {
      color: #{$dracula-foreground};
    }

    &::before {
      border-left-color: #{$dracula-green};
    }

    &:hover {
      background-color: fade-out($dracula-green, 0.6);

      div > svg {
        color: #{$dracula-green};
      }

      .overflow-1wOqNV {
        color: #{$dracula-foreground};
      }
    }
  }
}
