@import '../helpers/variables';

.folder-241Joy {
    background-color: inherit;
}

.expandedFolderIconWrapper-3RwQpD {
    background-color: #{$dracula-background};
    transition: background-color 0.15s ease-out;
    -webkit-transition: background-color 0.15s ease-out;

    &:hover {
        background-color: #{$dracula-current-line};
    }
}

.expandedFolderBackground-1kSAf6 {
    background-color: #{$dracula-background};
}
